.formulaire1{
    float: right;

}

.f1{
    float: left;
    margin: 10px;
    color: gray;
}

.f2{
    float: left;
    margin: 10px;
    color: gray;
}
nav-custom{
    background:transparent;
}

.container{
    width: 100%;
    overflow: auto;
}

 table.Tablepersons {

     width: 60%;
     background-color: #ffffff;
     border-collapse: collapse;
     border-width: 2px;
     border-color: #000000;
     border-style: ridge;
     color: #000000;
     overflow: auto;
     position: relative;
     margin: 10px;
     padding: 0;
     float: left;
 }

table.Tablepersons td, table.Tablepersons th {
    border-width: 2px;
    border-color: #000000;
    border-style: ridge;

}

table.Tablepersons thead {
    background-color: #006300;

}

.divchamps{

float: left;
    margin: 10px;

}
.divchamps2{

    float: left;
    position: sticky;
    margin: 10px;

}
.form-control{
    margin: 4px;
}
#button:hover{
    background: dodgerblue;
    color: white;
    transition: color;

}
#buttonsup:hover{
    background: dodgerblue;
    color: white;
    transition: color;

}


