
.cacher {
    display: none;
}

.tab {
    margin-left: 2px;
    margin-right: 20px;

}

.tab1 {
    margin-right: 15px;
    margin-left: 10px;

}

.cpnv {
    color: #4CAF50;
}

.bouttons {
    margin-bottom: 15px;
    margin-left: 15px;
}

.form-row {
    float: right;
}



