div {
    padding : 5px;
    margin: 5px;
    border: solid 1px black;
    width: fit-content;
}
.cssbleutrace{
    background-color: blue;
    text-decoration:line-through;
}
.changepoli{
    font-family: Arial;
}

.YESS{
    background-color: greenyellow;
    color: aliceblue;
}